.Root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Progress {
  transition: stroke-dashoffset 0.4s ease;
}

.Label {
  position: absolute;
  font-weight: 700;
  color: var(--color-text);
  font-family: var(--font-family);
}
